<div class="game-content">
    <p>Mario brothers had a wonderful range f games for players of all ages</p>
    <p>No matter what you are into , MB has a game for you!</p>
    <p>Fighting naughty monkeys to racing your friends, everyone will find something they enjoy!</p>
</div>